body {
  margin: 0; 
  padding:0;
  background-color:#FFF2F3;
 
  overflow: auto;
}


#header{

background: #3E3E3E;
height:40px;
width:100%;
position:fixed;
z-index:100;
}

#header-text{

font-family: Montserrat;
font-size: 14px;
font-weight: bold;
letter-spacing: 0.2px;
color:#F4F4F4;
position:fixed;
left:580px;
top:2px;
z-index:101;
}

#main-heading{

color: #252B42;
font-family: Montserrat;
font-size: 58px;
font-style: normal;
font-weight: 900; 
letter-spacing: 0.2px;
position:absolute;
top:60px;
left:380px;
}

#sub-heading{

color: #252B42;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.2px;
position:absolute;
top:155px;
left:460px;

}

#view{

color: #000;
font-family: Montserrat;
font-size: 24px;
text-align:center;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.2px;
position:absolute;
top:220px;
left:577px;

}


.image-position1{

  position:absolute;
  top:236px;
  left:720px;

}

.image-position2{

  position:absolute;
  top:236px;
  left:772px;

}

#bck{

border-radius: 20px;
background-color: #FEDEDE;
position:absolute;
height:492px;
width:771px;
left:352px;
top:334px;
}

#arrow-bck{

width: 42px;
height: 368px;
padding: 0px 9px;
border-radius: 20px;
background: #F2B3B3;
position:absolute;
top:392px;
left:374px;

}

#arrow-next{

width: 42px;
height: 368px;
padding: 0px 9px;
border-radius: 20px;
background: #F2B3B3;
position:absolute;
top:392px;
left:1040px;
}

#next{

width: 24px;
height: 24px;
position:absolute;
top:564px;
left:1060px;
cursor:pointer;
}

#prev{

width: 24px;
height: 24px;
position:absolute;
top:564px;
left:383px;
cursor:pointer;

}

.image-slide{

object-fit: cover;
cursor: pointer;
position: absolute;
top: 0;
left: 0;
transition: z-index 0.5s;
z-index: 0;
}

.image-slide.active {
  z-index: 1; 
}

#image-1{

width: 552px;
height: 368px;
position:absolute;
top:392px;
left:460px;

}

#image-2{

width: 552px;
height: 368px;
position:absolute;
top:392px;
left:460px;

}

#image-3{

width: 552px;
height: 368px;
position:absolute;
top:392px;
left:460px;

}

#image-4{

width: 552px;
height: 368px;
position:absolute;
top:392px;
left:460px;

}

#image-5{

width: 552px;
height: 368px;
position:absolute;
top:392px;
left:460px;

}

#image-6{

width: 552px;
height: 368px;
position:absolute;
top:392px;
left:460px;

}

#image-7{

width: 552px;
height: 368px;
position:absolute;
top:392px;
left:460px;

}

#image-8{

width: 552px;
height: 368px;
position:absolute;
top:392px;
left:460px;

}

#image-9{

width: 552px;
height: 368px;
position:absolute;
top:392px;
left:460px;

}

#image-10{

width: 552px;
height: 368px;
position:absolute;
top:392px;
left:460px;

}

.zoom-in{

  transform: scale(1.1);
}


.footer{

width: 100%;
height: 30px;
padding: 28px 0px;
background-color: #FFF;
color:#737373;
text-align:center;
position:absolute;
top:914px;

font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 60px;
letter-spacing: 0.2px;

}

